{% extends "learning_logs/base.html" %}

{% block header %}
    <h1>Criar conta</h1>
{% endblock header %}

{% block content %}

    {% if form.errors %}
        <p style="color: red;">
            Erro ao criar conta. Verifique os dados informados.
        </p>
    {% endif %}

    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}

        {{ form }}

        <button type="submit" class="btn btn-primary">
            Registrar
        </button>
    </form>

{% endblock content %}